* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    background-color: #fff;
}

/*header*/

#head {
    background-color: red;
    height: 50px;


    width: 100%;
}

.logo {
    background-color: blue;
}

.padding-top {}

a {
    padding-left: 10px;
    padding-right: 10px;


}

.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-sec {
    background-color: hsl(207deg 52% 81%);
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
}

.container-business {
    background-color: rgb(255, 0, 0);
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 80px;
}

/*BUSINESS*/
.container-business {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
}

.Professional {
    background-color: green;
    height: 1000px;
}

.Advance {
    background-color: blue;
    eight: 1000px;
}

.Enterprice {
    background-color: blueviolet;
    eight: 1000px;
}