* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    background-color: #fff;
}


/*Debug*/

button {
    color: white;
    background-color: hsl(217deg 100% 50%);
    padding: 5px 8px;

}

/*Header*/


/*Fixed*/
header {
    background-color: hsl(207deg 52% 81%);
}



.container-header-fixed {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: fixed;
}

.header-list {
    color: black;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

li {
    padding: 5px 15px;
}

/*Jumbo*/
.jumbo {
    padding-top: 50px;
    max-width: 1200px;
    margin: auto;
}

h1 {
    padding-top: 80px;
    padding-bottom: 50px;
    font-size: 80px;
}

.jumbo-container {
    display: flex;
}

.p-jumbo {
    padding-bottom: 50px;
    padding-top: 50px;
}

.img-jumbo {
    position: relative;
    top: 40px;
    width: 70%;
}

.arrow {
    font-size: 40px;
}



/*Main*/

.main-container {
    width: 1200px;

    margin: auto;
}

main section {
    background-color: blueviolet;
}

h2 {
    margin-top: 80px;
}

.offers {
    display: flex;
    justify-content: center;

}

.column {}

/*Partner*/

.img-partner {
    max-width: 100%;
}

.partner {
    display: flex;
    flex-direction: row;
}

/*Features*/

.img-features {}

.features-container {


    display: flex;
    flex-wrap: wrap;
}

/*Discover*/

/*Trial*/

.trial {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*Faq*/

/*Footer*/

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 10%;
}

/*List*/

footer {
    background-color: black;
    color: white;
    padding-left: 300px;
    padding-right: 300px;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 10%;
    list-style-type: none;
}

.dropbox {}

hr {
    width: 100px;
    margin-bottom: 50px;
}